.paragraph-text {
  margin: 0 0 24px 96px;
  width: 70ch;
  font-size: 24px;
}

.image-title {
  color: var(--color-primary);
  margin: 96px 0 0 96px;
  font-weight: 500;
  font-size: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

figure {
  border-radius: 6px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #fff;
  overflow: hidden;
  height: 275px;
  display: grid;
  grid-template-rows: min-content 1fr;
}

::ng-deep figure {
  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

  figcaption {
    display: flex;
    align-items: center;
    padding: 16px;
    margin: 0;
  }
}

.separator {
  border-top: 3px solid var(--color-primary);
  grid-column: 2 / 8;
  margin: 32px 96px;
  width: 96px;
}
