<section class="steps">
  <div class="section-header">
    <h2 class="section-title">How It Works</h2>
    <div class="separator"></div>
  </div>

  <div class="step-container">
    <div class="step step1">
      <img class="step-svg" src="/assets/images/step1.svg" alt="step one graphic" />
      <p class="step-description">Provide Gideon Labs with information about your failure</p>
    </div>
    <div class="step-svg" class="step step2">
      <img class="step-svg" src="/assets/images/step2.svg" alt="step two graphic" />
      <p class="step-description">
        We use a variety of industry techniques to diagnose the failure
      </p>
    </div>
    <div class="step-svg" class="step step3">
      <img class="step-svg" src="/assets/images/step3.svg" alt="step three graphic" />
      <p class="step-description">You get a comprehensive report of why the failure occured</p>
    </div>
  </div>
</section>
