:host {
  display: block;
  background-color: #fff;
  padding: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-brand svg {
  width: 12rem;
  max-width: 12rem;
}

.logo {
  grid-column: 2/4;
  width: 5rem;
  display: inline-grid;
  grid-template-columns: repeat(6, min-content);

  text-decoration: none;
  color: black;
  line-height: 0.8;
}

.gideon {
  font-weight: 500;
  font-size: 4rem;
  line-height: 0.7;
  letter-spacing: -4px;
  grid-area: 1 / 1 / -1 / -1;
}

.labs {
  font-size: 9.5px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  grid-area: 1 / 1 / -1 / -1;
  justify-self: end;
}

.search-bar {
  align-items: center;
  display: none;

  svg {
    fill: var(--nav-link);
    cursor: pointer;
  }

  svg:hover {
    fill: black;
  }
}

.links {
  display: flex;
  align-items: center;
}

.nav-link,
.button.primary {
  display: none;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--nav-link);
  margin-right: 1.5rem;

  &:hover {
    color: black;
  }
}

.call-to-action {
  display: none;
}

.griditem1,
.griditem2,
.griditem3,
.griditem4,
.griditem5,
.griditem6 {
  background-color: rgba(25, 25, 25, 0.3);
  height: 100%;
}

.griditem1 {
  grid-area: 1 / 2 / 2 / 3;
}
.griditem2 {
  grid-area: 1 / 3 / 2 / 4;
}
.griditem3 {
  grid-area: 1 / 4 / 2 / 5;
}
.griditem4 {
  grid-area: 1 / 5 / 2 / 6;
}
.griditem5 {
  grid-area: 1 / 6 / 2 / 7;
}
.griditem6 {
  grid-area: 1 / 7 / 2 / 8;
}

@media screen and (min-width: 480px) {
  .nav-link {
    display: block;
  }

  .button.primary {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  :host {
    padding: 32px 16px;
  }
}
