<div class="main-content">
  <h1>History</h1>
  <div class="separator"></div>
  <p>
    Gideon Analytical Laboratories, Inc. has benefited from downsizing of several major companies.
    Our people represent over 70 years’ experience in chemical, construction, materials and failure
    analysis of electronic components (relays, transformers, chokes, capacitors, resistors, fans,
    cable, connectors, etc.) PWBs (solder mask cure, embedded tin in the solder mask causing
    electromigration, voiding in the resin, PTH opens, cross sections, solder joint reliability, IPC
    specifications and Military standards, etc.) and semiconductors (diodes, FETs, PWMs,
    oscillators, thyristers, SCRs, rectifiers, interconnect and packaging problems, etc.). We have
    supported the designing, building, debugging, and testing of electronic components used in
    computer products, mainframe, 3rd rail, automotive, trains, aerospace, consumer electronics,
    amplifiers, radios, nuclear reactors, etc. We have approved materials, qualified card
    manufacturers, power supply manufacturers, cable manufacturers, qualified manufacturing lines,
    audited lines to insure compliance and approved component manufacturers. We have resolved
    electronic packaging problems involving many companies’ products. We have written many of the
    specifications and qualification plans required to eliminate these problems.
  </p>
  <p>
    We offer engineers the analytical and chemical analysis they require to assess reliability,
    construction integrity, materials compatibility, process control and manufacturing quality. We
    can perform failure analysis on new technologies and old. Check our “Success Stories” page to
    see the results.
  </p>
  <p>
    Through failure analysis we can identify the problem area. Was the failure caused by an
    application problem? A design problem? A process problem? A mechanical problem? Materials? A
    quality issue associated with component manufacturing? Or is the failure an end of life wear out
    mechanism? These are questions we answer through failure analysis.
  </p>
  <p>
    Gideon Analytical Laboratories, Inc. started in 1988 initially involved in hermetic
    semiconductor Residual Gas Analysis (RGA) testing, MIL-Std 883D, TM 1018.2 for commercial and
    Military application. We were sponsored by many large semiconductor manufacturers.
  </p>
  <h2>Who Are We?</h2>
  <p>
    Gideon Analytical Labs is a group of individuals who at one time handled the component
    reliability, testing and test procedures, material analysis, qualification, component selection,
    evaluations, line inspections and process approval for a large computer firm. Since the time of
    our departures (due to a perceived plateau and eventual reduction in mainframe sales because of
    increased work station capability and migration), we started an independent company whose
    primary focus is providing the same services to electronic companies as we did in the past for
    many internal customers. We have served in this industry for over 25 years.
  </p>
  <p>
    The current industrial modus operandi is to let the component manufacturers provide the
    reliability data, failure analysis, failure rate, testing and corrective action. In this way the
    end users do not have to invest in capital equipment, people, and support an area that is not
    relevant to the main stream product line of their business. Balancing the needs (technology,
    strategy, survival, etc.) with skill requirements (personnel, support services, etc.) is a must
    for any business to remain competitive. Users of electronic components and printed circuit
    boards are demanding manufacturers be more responsive in providing the necessary data about:
  </p>
  <ul>
    <li>Failure rates</li>
    <li>Mean time before failure</li>
    <li>Testing</li>
    <li>Reliability data</li>
    <li>Component support</li>
    <li>Component Analysis</li>
    <li>Root Cause Analysis</li>
  </ul>
  <p>
    It often means a paper review is adequate to assess the component’s life. There are components
    where this approach will work and others where it will not work. As an end user you have to
    decide which makes sense. We realize many companies will mainstream their core business to
    reflect the volatile and fast moving technologies in the market place, thereby, eliminating many
    of the internal services and support groups (reliability, materials, testing, facilities, etc.)
    due to internal costs. The following shows why some companies are reducing internal costs.
  </p>
  <h2>Decline of Internal Support</h2>
  <p>
    Companies are utilizing industrial standards as acceptable methods of testing rather than their
    own specifications.
  </p>
  <ul>
    <li>The Long Term Reliability Days are over Maximum 60K POH.</li>
    <li>2500 Power On-Off cycles reduced.</li>
    <li>Companies are downsizing to core business to reduce costs</li>
    <li>
      Support groups, testing and analyses are being vendered because they can no longer support the
      infrastructure.
    </li>
    <li>Redundant programs and groups are eliminated.</li>
    <li>
      Products converging on the same market are put in the position of internal competition with
      one another.
    </li>
    <li>The first to market with the best product are those who survive.</li>
    <li>Component vendors are taking more of a roll in supplying reliability data.</li>
    <li>
      Companies are using consulting firms, approval agencies, and experts in particular areas to
      qualify their product.
    </li>
    <li>
      It is easier to communicate company to company via e-mail and the web with reports and notes
      than it has in the past.
    </li>
    <li>The rising costs of employee benefits.</li>
  </ul>
  <p>
    An outside vendor can provide these services at a significantly lower cost, provide them only
    when needed, and the skill base that is required to accomplish and correct the job is still
    available. You do not have to lose expertise because you lost ownership.
  </p>

  <p>
    All of our achievements are to our customer’s advantage. They get a better product, retain their
    reputation in the eyes of the customer for solving the problem, and you get a service when and
    if you need it.
  </p>

  <p>
    Whether you are established company with many products or a new company start up technical
    leadership in developing the most advanced technologies is crucial to the success of your
    company. This requires analysis of present technologies, critical components, state of the art
    materials and development of new ones. Gideon has the experience to make it work.
  </p>
</div>
