:host {
  padding: 16px;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  margin-top: 24px;
}

p {
  font-size: 20px;
}

ul {
  list-style: circle;
  padding-left: 24px;
  margin-bottom: 16px;
}
