<div class="main-content">
  <h1>Success Stories</h1>
  <div class="separator"></div>

  <div class="posts-container">
    <app-post-snippet
      *ngFor="let post of (postsService.allPosts$ | async)"
      [post]="post"
    ></app-post-snippet>
  </div>

  <!--
    <cdk-virtual-scroll-viewport class="posts-container" itemSize="600">
      <app-post-snippet
        *cdkVirtualFor="let post of (postsService.allPosts$ | async)"
        [virtualScroll]="true"
        [post]="post"
      ></app-post-snippet>
    </cdk-virtual-scroll-viewport>
  -->
</div>
