.footer {
  padding-top: 2rem;
  background-color: var(--rgba-primary-4);
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

.section-header {
  font-family: 'FuturaBT-Heavy', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8725rem;
  margin-bottom: 1.5625rem;
}

.section-list {
  font-size: 1.125rem;
  color: #fff;
  li {
    margin-bottom: 0.75rem;
  }
}

.section-list a {
  opacity: 1;
  transition: opacity 0.06s linear;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

.nap-info {
  color: white;
}

.container > div {
  @media screen and (max-width: 40rem) {
    width: calc(100vw - 2rem);
  }
}

.disclaimer {
  grid-column: 1 / -1;
  font-size: 0.8rem;
  line-height: 1.75;
  opacity: 0.3;
  color: #fff;
  padding: 0.75rem 0;
}
