<section class="hero-container">
  <div class="container">
    <div class="left-column">
      <h1>We Solve Problems for the Electronic Industry</h1>
      <div class="sub-header">
        Failure analysis, electrical testing, process evaluation and testing to many specifications.
      </div>
      <a routerLink="/contact">
        <button class="call-to-action"
                type="button">Start solving</button>
      </a>
    </div>
    <picture>
      <source srcset="/assets/images/microscope.webp"
              type="image/webp">
      <img class="hero-image"
           src="/assets/images/microscope.png"
           alt="microscope">
    </picture>
  </div>
</section>

<section class="grid-container steps">
  <h1>How it works</h1>

  <div class="step1">
    Provide Gideon Labs with information about your failure
  </div>
  <div class="step2">
    We use a variety of industry techniques to diagnose the failure
  </div>
  <div class="step3">
    You get a comprehensive report of why the failure occured
  </div>
</section>

<section class="grid-container stories">
  <h1>Success Stories</h1>
  <app-recent-posts></app-recent-posts>
</section>
