:host {
  color: var(--dark-header);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 240px)) 1fr;
  grid-template-rows: min-content;
  padding: 3rem 0;
  min-height: 100vh;

  @media (max-width: 94rem) {
    grid-template-columns: 3rem repeat(6, minmax(auto, 15em)) 3rem;
  }

  @media screen and (max-width: 48rem) {
    min-height: unset;
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1rem repeat(6, minmax(auto, 15em)) 1rem;
    padding: 1rem 0;
  }

  h1 {
    font-size: 5.625rem;
    font-weight: 500;
    letter-spacing: -5px;
    max-width: 40vw;
    line-height: 1.111;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 70rem) {
      font-size: 4rem;
      max-width: unset;
    }

    @media screen and (max-width: 40rem) {
      font-size: 2.8rem;
      letter-spacing: -2px;
    }
  }

  .sub-header {
    color: #7e8082;
    max-width: 30vw;
    font-size: 1.5rem;
    line-height: 1.333;
    margin: 1.5em 0;

    @media screen and (max-width: 70rem) {
      max-width: 70vw;
    }

    @media screen and (max-width: 40rem) {
      font-size: 1rem;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/8;
}

.hero-image {
  height: calc(100vh - 6rem - 7rem);

  @media screen and (max-width: 48rem) {
    display: none;
  }
}

.steps {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(auto, 30rem)) 1fr;
  grid-template-rows: 1fr 3fr;

  background-color: var(--rgba-primary-3);
  color: rgb(255, 255, 255);
  min-height: 760px;
  text-align: center;

  .section-header {
    grid-column: 2 / 5;
  }
}

.step-container {
  grid-column: 2 / 5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;

  justify-content: center;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-svg {
  height: 200px;
}

.step-description {
  margin-top: 24px;
  font-size: 24px;
  width: 60%;
}

.stories {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1440px) 1fr;
  padding: 5rem 0;
  color: var(--dark-header);
  min-height: 100vh;

  @media screen and (max-width: 48rem) {
    min-height: unset;
  }

  @media screen and (max-width: 40rem) {
    padding: 1rem 0;
  }

  background: url('/assets/images/natural_paper.png') repeat repeat;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
  }
}

app-recent-posts {
  grid-column: 2 / 3;
}

.section-header {
  align-self: end;
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.111;
}

.separator {
  width: 50px;
  border-top: 3px solid var(--color-primary);
  margin: 16px auto 0 auto;
}

.stories h2 {
  color: var(--color-primary);
}
