<section class="hero-container">
  <div class="container">
    <div class="left-column">
      <h1>We Solve Problems for the Electronic Industry</h1>
      <div class="sub-header">
        Failure analysis, electrical testing, process evaluation and testing to many specifications.
      </div>
      <a routerLink="/contact">
        <button class="call-to-action" type="button">Start solving</button>
      </a>
    </div>
    <picture>
      <source srcset="/assets/images/microscope.webp" type="image/webp" />
      <img class="hero-image" src="/assets/images/microscope.png" alt="microscope" />
    </picture>
  </div>
</section>

<section class="steps">
  <div class="section-header">
    <h2>How It Works</h2>
    <div class="separator"></div>
  </div>

  <div class="step-container">
    <div class="step step1">
      <img class="step-svg" src="/assets/images/step1.svg" alt="step one graphic" />
      <p class="step-description">Provide Gideon Labs with information about your failure</p>
    </div>
    <div class="step-svg" class="step step2">
      <img class="step-svg" src="/assets/images/step2.svg" alt="step two graphic" />
      <p class="step-description">
        We use a variety of industry techniques to diagnose the failure
      </p>
    </div>
    <div class="step-svg" class="step step3">
      <img class="step-svg" src="/assets/images/step3.svg" alt="step three graphic" />
      <p class="step-description">You get a comprehensive report of why the failure occured</p>
    </div>
  </div>
</section>

<section class="stories">
  <div class="section-header">
    <h2>Success Stories</h2>
    <a routerLink="/posts">
      <button class="call-to-action secondary" type="button">All Stories</button></a
    >
  </div>
  <app-recent-posts></app-recent-posts>
</section>
