<section class="hero-container">
  <div class="container">
    <div class="left-column">
      <h1>We Solve Problems for the Electronic Industry</h1>
      <div class="sub-header">
        Failure analysis, electrical testing, process evaluation and testing to many specifications.
      </div>
      <a routerLink="/contact">
        <button class="call-to-action" type="button">Start solving</button>
      </a>
    </div>
    <picture>
      <source srcset="/assets/images/microscope.webp" type="image/webp" />
      <img class="hero-image" src="/assets/images/microscope.png" alt="microscope" />
    </picture>
  </div>
</section>

<app-steps></app-steps>

<app-recent-posts></app-recent-posts>
