:host {
  color: var(--dark-header);
}

h1 {
  font-family: 'FuturaBT-Heavy', sans-serif;
  font-size: 5.625rem;
  font-weight: 100;
  letter-spacing: -5px;
  max-width: 40vw;
  line-height: 1.111;
  margin: 0;
  padding: 0;
}

.sub-header {
  color: #7e8082;
  max-width: 30vw;
  font-size: 1.5rem;
  line-height: 1.333;
  margin: 1.5em 0;
}

.container {
  grid-area: 1 / 2 / 2 / 5;
}

.hero-image {
  padding: 2em 0;
  max-width: 100%;
  grid-area: 1 / 2 / 2 / 8;
  justify-self: end;
}

.call-to-action {
  box-shadow: none;
  border: none;
  background-color: var(--call-to-action);
  font-family: 'FuturaBT-Book', sans-serif;
  font-size: 1.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--call-to-action-hover);
  }
}

.steps {
  grid-template-rows: min-content;
  padding: 5rem 0 0;
  background-color: var(--rgba-primary-3);
  color: rgb(255, 255, 255);
  min-height: 100vh;

  h1 {
    max-width: 100%;
    grid-column: 2/8;
  }

  .step1 {
    grid-column: 2 / 4;
  }

  .step2 {
    grid-column: 4 / 6;
  }

  .step3 {
    grid-column: 6 / 8;
  }
}

.stories {
  grid-template-rows: min-content;
  padding: 5rem 0;
  color: var(--dark-header);
  min-height: 100vh;

  h1 {
    max-width: 100%;
    grid-column: 2/8;
  }

  app-recent-posts {
    grid-column: 2/8;
  }
}
