:host {
  display: block;
  padding: 16px;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  text-align: center;
}

.form-results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

input,
textarea {
  margin-top: 8px;
  display: block;
  width: 100%;
}

textarea {
  margin-bottom: 32px;
}

label {
  display: block;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: left;
}

label:last-child {
  margin-bottom: 0;
}

input,
textarea {
  padding: 8px;
  border-radius: 6px;
  box-shadow: none;
  border: 1px solid rgb(200, 200, 200);
  resize: none;

  &:focus {
    outline: none;
    border: 1px solid hsl(0, 0%, 50%);
  }
}

.button,
.message-sent {
  margin-bottom: 32px;
}

.button {
  width: 250px;

  &:disabled {
    background-color: hsl(347, 55%, 55%);
    cursor: not-allowed;
  }
}

.contact-cards {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  flex: 1 1 50%;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  color: rgb(117, 117, 117);
}

.card:first-child {
  margin-bottom: 16px;
}

.message-sent {
  text-align: center;
  font-size: 24px;
}

@media screen and (min-width: 769px) {
  :host {
    padding: 32px 16px;
  }

  .container {
    display: flex;
  }

  form {
    text-align: right;
    margin-right: 48px;
  }

  form,
  .form-results,
  .contact-cards {
    flex: 1 1 50%;
  }

  .button,
  .message-sent {
    margin-bottom: 0;
  }
}
