<h1>Start Solving</h1>
<div class="separator"></div>

<div class="container">
  <form [formGroup]="contactForm">
    <label for="name">Name: <input type="text" id="name" formControlName="name" /> </label>
    <label for="phone"
      >Phone Number: <input type="text" id="phone" formControlName="phone" />
    </label>
    <label for="email"
      >Email Address: <input type="text" id="email" formControlName="email" />
    </label>
    <label for="message"
      >Message: <textarea type="text" id="message" formControlName="message"></textarea>
    </label>
  </form>

  <div class="contact-cards">
    <div class="card">
      <h2>Contact</h2>
      <a href="tel:845-255-5356">845-255-5356</a>
      <a href="mailto:solutions@gideonlabs.com">solutions@gideonlabs.com</a>
    </div>
    <div class="card">
      <h2>Location</h2>
      <div class="address">
        80 Loughran Lane <br />
        Highland, NY 12528
      </div>
    </div>
  </div>
</div>

<button class="call-to-action secondary" type="button" (click)="submitForm()">Send</button>
