<div class="main-content">
  <h1>For Sale</h1>
  <div class="separator"></div>

  <ul>
    <li><a routerLink="3153">Rigaku Micro Diffractometer XRD</a></li>
    <li>
      <a routerLink="453">Hitachi SEM to EDS interface box</a>
    </li>
    <li>
      <a routerLink="482">Edwards E02 Pump</a>
    </li>
    <li>
      <a routerLink="490">Edwards E04 Pump</a>
    </li>
    <li>
      <a routerLink="497">TPH 170 Pfeiffer Balzers</a>
    </li>
    <li>
      <a routerLink="3209">Hitachi S-570 with IXRF EDS</a>
    </li>
    <li><a routerLink="3189">Zeiss Axio Scope.A1</a></li>
    <li>
      <a routerLink="3202">Matheson Mass Flow Meters</a>
    </li>
    <li><a routerLink="3305">Miscellaneous Items</a></li>
    <li>
      <a routerLink="3306">Gross Leak Trio Tech</a>
    </li>
    <li><a routerLink="3178">Veeco MS-20UFT</a></li>
    <li><a routerLink="3272">Omega Meter 600R</a></li>
    <li>
      <a routerLink="3300">Thermolyne Type 46200 unused</a>
    </li>
    <li>
      <a routerLink="3295">Canberra Integrated Signal Processor Model 1510</a>
    </li>
    <li>
      <a routerLink="3343">Lincoln Idea Arc CV-300 with feeder</a>
    </li>
  </ul>
</div>
