:host {
  display: block;
  background: url('/assets/images/natural_paper.jpg') repeat repeat;
  min-height: 100vh;
  padding: 16px;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

.navigate-back {
  display: none;

  align-items: center;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.post-title {
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: 0px;
  font-weight: 500;
}

.other-categories {
  text-transform: none;
  margin-top: 32px;
}

.story-links {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(auto, min-content));
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 16px;
}

.story-links .button {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.all-stories {
  display: block;
  margin: 48px auto;
  width: 150px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .navigate-back {
    display: flex;
  }

  .post-title {
    margin-top: 16px;
  }

  .story-links {
    // grid-template-columns: repeat(auto-fit, minmax(auto, min-content));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
