<section class="hero-container">
  <div class="hero-text">
    <h1 class="hero-tagline">We Solve Problems for the Electronic Industry</h1>
    <h2 class="sub-header">
      Failure analysis, electrical testing, process evaluation and testing to many specifications.
    </h2>
    <div class="action-container">
      <a routerLink="/contact" class="button primary">Start solving</a>
    </div>
  </div>

  <picture>
    <source srcset="/assets/images/microscope.webp" type="image/webp" />
    <img class="hero-image" src="/assets/images/microscope.png" alt="microscope" />
  </picture>
</section>
