:host {
  color: #54575a;
}

.grid-container {
  grid-gap: 5px;
}

.above-fold {
  min-height: calc(100vh - 7rem);
}

h1 {
  font-family: 'FuturaBT-Heavy', sans-serif;
  font-size: 5.625rem;
  font-weight: 100;
  letter-spacing: -5px;
  max-width: 40vw;
  line-height: 1.111;
  margin: 0;
  padding: 0;
}

.sub-header {
  color: #7e8082;
  max-width: 30vw;
  font-size: 1.5rem;
  line-height: 1.333;
  margin: 1.5rem 0;
}

.container {
  grid-area: 1 / 2 / 2 / 5;
}

.hero-image {
  padding: 2rem 0;
  max-width: 100%;
  grid-area: 1 / 2 / 2 / 8;
  justify-self: end;
}

.call-to-action {
  box-shadow: none;
  border: none;
  background-color: #549431;
  font-family: 'FuturaBT-Book', sans-serif;
  font-size: 1.75rem;
  padding: 0.75rem 1rem;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
  cursor: pointer;
}

.call-to-action:hover {
  background-color: #326f12;
}

.underlay {
  grid-column: 2 / 8;
  grid-row: 1 / -1;
  background-color: pink;
  border: 1px solid red;
  max-height: 100%;
}

.steps {
  background-color: var(--rgba-primary-3);
  color: rgb(255, 255, 255);
  // padding: 2rem;
  min-height: 100vh;

  h1 {
    max-width: 100%;
    grid-column: 2/8;
  }
}

.step1 {
  grid-column: 2 / 4;
}

.step2 {
  grid-column: 4 / 6;
}

.step3 {
  grid-column: 6 / 8;
}
