:host {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  min-height: 100vh;
}

:host > * {
  grid-column: 1 / -1;
}

.route-container {
  position: relative;
}

.route-container > * {
  display: block;
}

.copyright {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  background-color: var(--footer-color-dark);

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 76px;
}
