:host {
  display: block;
  padding: 32px 16px;
  background: url('/assets/images/natural_paper.jpg') repeat repeat;
}

.stories {
  color: var(--dark-header);
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2 / 3;
  align-self: end;
  margin-bottom: 32px;
}

.section-title {
  color: var(--color-primary);
  margin-bottom: 0;
  font-size: 24px;
}

.recent-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-size: 48px;
  }
}
