/* You can add global styles to this file, and also import other style files */
:root {
  --rgba-primary-0: rgb(56, 42, 41); // Main Primary color */
  --rgba-primary-1: rgba(134, 105, 103, 1);
  --rgba-primary-2: rgba(96, 75, 74, 1);
  --rgba-primary-3: #341f1e;
  --color-primary: hsl(347, 75%, 33%);
  --color-primary-dark: hsl(347, 75%, 23%);
  --rgba-primary-4: rgba(47, 23, 21, 1);
  --rgba-light-0: rgba(195, 184, 186, 1); // Main Primary color */
  --rgba-light-1: rgba(231, 197, 204, 1);
  --rgba-light-2: rgba(180, 161, 165, 1);
  --rgba-light-3: rgba(162, 136, 142, 1);
  --rgba-light-4: rgba(148, 115, 123, 1);

  --nav-link: #767676;
  --call-to-action: hsl(99, 50%, 34%);
  --call-to-action-hover: rgb(50, 111, 18);

  --dark-header: rgb(84, 87, 90);

  --footer-color: hsl(206, 4%, 34%);
  --footer-color-dark: hsl(220, 2%, 25%);
}

@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 400;
  src: url('/assets/fonts/FuturaBT-Book.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 500;
  src: url('/assets/fonts/FuturaBT-Heavy.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 300;
  src: url('/assets/fonts/FuturaBT-Light.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: #f9f8f6;
  font-family: FuturaBT, sans-serif;
  font-weight: 400;
}

html,
body {
  text-rendering: optimizeSpeed;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 15rem)) 1fr;
  grid-template-rows: auto;
  align-items: center;
  > .container {
    grid-column: 2/8;
  }

  @media (max-width: 94rem) {
    grid-template-columns: 3rem repeat(6, minmax(auto, 15em)) 3rem;
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1rem repeat(6, minmax(auto, 15em)) 1rem;
  }
}

a {
  background-color: transparent; /* 1 */
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.above-fold {
  min-height: calc(100vh - 7rem);
}

.call-to-action {
  box-shadow: none;
  border: none;
  background-color: var(--call-to-action);
  font-weight: 400;
  font-size: 1.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--call-to-action-hover);
  }

  @media screen and (max-width: 40rem) {
    display: none;
  }

  @media screen and (max-width: 30rem) {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}

.call-to-action.secondary {
  background-color: var(--color-primary);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
